:root{
  --main-color: rgb(54, 177, 156);
  --hover-color: rgb(5, 36, 56);
  --text-color: white;
}
.nav-list{
  font-size: 0;
  /* text-align: center; */
  /* размещение меню */
  padding-left: 20px;
}
.nav-list-item{
  display: inline-block;
  position: relative;
  background-color: var(--main-color);
  color: var(--text-color);
  font-size: initial;
}
.nav-list-item:hover{
  background-color: var(--hover-color);
}
.nav-list-item + .nav-list-item{
    border-left: 1px solid var(--hover-color);
}
.nav-list-link{
  display: inline-block;
  padding: 1em 1.5em;
}
.sub-nav-list{
  display: none;
  width: 100%;
  position: absolute;
  right: 0;
  left: 0;
}
.nav-list-item:hover>.sub-nav-list{ 
  display: block;
  }
/* when we hover nav-list-item, in sub-nav-list do display block */
.sub-nav-list-item{
  display: block;
}
.sub-nav-list .sub-nav-list{
  display: none; 
  width: 100%;
  left: 100%;
  /* left:-100% вместо right: 100% для отображения в другую сторону */
  top:0; 
}







section{
  margin-top: 20px;
}
